# Load Packages & Data

In [ ]:
# Install required packages if missing
packages <- c("googledrive", "tidyverse", "skimr", "DataExplorer", "corrplot", "ggplot2", "dplyr", "caret", "randomForest", "gbm")
installed <- packages %in% installed.packages()
if (any(!installed)) install.packages(packages[!installed])

# Load them
library(googledrive)
library(tidyverse)
library(skimr)
library(DataExplorer)
library(corrplot)
library(ggplot2)
library(dplyr)
library(cluster)
library(caret)
library(randomForest)
library(gbm)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘listenv’, ‘parallelly’, ‘future’, ‘globals’, ‘shape’, ‘future.apply’, ‘numDeriv’, ‘progressr’, ‘SQUAREM’, ‘diagram’, ‘lava’, ‘prodlim’, ‘data.tree’, ‘igraph’, ‘proxy’, ‘iterators’, ‘clock’, ‘gower’, ‘hardhat’, ‘ipred’, ‘sparsevctrs’, ‘timeDate’, ‘reshape2’, ‘gridExtra’, ‘networkD3’, ‘e1071’, ‘foreach’, ‘ModelMetrics’, ‘plyr’, ‘pROC’, ‘recipes’

In [ ]:
# drive_auth()

In [ ]:
# # Adjust the file name to match exactly what’s in your Google Drive
# file <- drive_get(path = "WQD7004/HR-Employee-Attrition.csv")
# drive_download(file, path = "HR.csv", overwrite = TRUE)

In [ ]:
attrition <- read.csv("HR.csv")
head(attrition)

# Data Cleaning, Understanding & Exploration

In [ ]:
# Check structure and summary
str(attrition)

In [ ]:
summary(attrition)

      Age         Attrition         BusinessTravel       DailyRate
 Min.   :18.00   Length:1470        Length:1470        Min.   : 102.0
 1st Qu.:30.00   Class :character   Class :character   1st Qu.: 465.0
 Median :36.00   Mode  :character   Mode  :character   Median : 802.0
 Mean   :36.92                                         Mean   : 802.5
 3rd Qu.:43.00                                         3rd Qu.:1157.0
 Max.   :60.00                                         Max.   :1499.0
  Department        DistanceFromHome   Education     EducationField
 Length:1470        Min.   : 1.000   Min.   :1.000   Length:1470
 Class :character   1st Qu.: 2.000   1st Qu.:2.000   Class :character
 Mode  :character   Median : 7.000   Median :3.000   Mode  :character
                    Mean   : 9.193   Mean   :2.913
                    3rd Qu.:14.000   3rd Qu.:4.000
                    Max.   :29.000   Max.   :5.000
 EmployeeCount EmployeeNumber   EnvironmentSatisfaction    Gender
 Min.   :1     Min.   :   1.0   Min.   :1.000           Length:1470
 1st Qu.:1     1st Qu.: 491.2   1st Qu.:2.000           Class :character
 Median :1     Median :1020.5   Median :3.000           Mode  :character
 Mean   :1     Mean   :1024.9   Mean   :2.722
 3rd Qu.:1     3rd Qu.:1555.8   3rd Qu.:4.000
 Max.   :1     Max.   :2068.0   Max.   :4.000
   HourlyRate     JobInvolvement    JobLevel       JobRole
 Min.   : 30.00   Min.   :1.00   Min.   :1.000   Length:1470
 1st Qu.: 48.00   1st Qu.:2.00   1st Qu.:1.000   Class :character
 Median : 66.00   Median :3.00   Median :2.000   Mode  :character
 Mean   : 65.89   Mean   :2.73   Mean   :2.064
 3rd Qu.: 83.75   3rd Qu.:3.00   3rd Qu.:3.000
 Max.   :100.00   Max.   :4.00   Max.   :5.000
 JobSatisfaction MaritalStatus      MonthlyIncome    MonthlyRate
 Min.   :1.000   Length:1470        Min.   : 1009   Min.   : 2094
 1st Qu.:2.000   Class :character   1st Qu.: 2911   1st Qu.: 8047
 Median :3.000   Mode  :character   Median : 4919   Median :14236
 Mean   :2.729                      Mean   : 6503   Mean   :14313
 3rd Qu.:4.000                      3rd Qu.: 8379   3rd Qu.:20462
 Max.   :4.000                      Max.   :19999   Max.   :26999
 NumCompaniesWorked    Over18            OverTime         PercentSalaryHike
 Min.   :0.000      Length:1470        Length:1470        Min.   :11.00
 1st Qu.:1.000      Class :character   Class :character   1st Qu.:12.00
 Median :2.000      Mode  :character   Mode  :character   Median :14.00
 Mean   :2.693                                            Mean   :15.21
 3rd Qu.:4.000                                            3rd Qu.:18.00
 Max.   :9.000                                            Max.   :25.00
 PerformanceRating RelationshipSatisfaction StandardHours StockOptionLevel
 Min.   :3.000     Min.   :1.000            Min.   :80    Min.   :0.0000
 1st Qu.:3.000     1st Qu.:2.000            1st Qu.:80    1st Qu.:0.0000
 Median :3.000     Median :3.000            Median :80    Median :1.0000
 Mean   :3.154     Mean   :2.712            Mean   :80    Mean   :0.7939
 3rd Qu.:3.000     3rd Qu.:4.000            3rd Qu.:80    3rd Qu.:1.0000
 Max.   :4.000     Max.   :4.000            Max.   :80    Max.   :3.0000
 TotalWorkingYears TrainingTimesLastYear WorkLifeBalance YearsAtCompany
 Min.   : 0.00     Min.   :0.000         Min.   :1.000   Min.   : 0.000
 1st Qu.: 6.00     1st Qu.:2.000         1st Qu.:2.000   1st Qu.: 3.000
 Median :10.00     Median :3.000         Median :3.000   Median : 5.000
 Mean   :11.28     Mean   :2.799         Mean   :2.761   Mean   : 7.008
 3rd Qu.:15.00     3rd Qu.:3.000         3rd Qu.:3.000   3rd Qu.: 9.000
 Max.   :40.00     Max.   :6.000         Max.   :4.000   Max.   :40.000
 YearsInCurrentRole YearsSinceLastPromotion YearsWithCurrManager
 Min.   : 0.000     Min.   : 0.000          Min.   : 0.000
 1st Qu.: 2.000     1st Qu.: 0.000          1st Qu.: 2.000
 Median : 3.000     Median : 1.000          Median : 3.000
 Mean   : 4.229     Mean   : 2.188          Mean   : 4.123
 3rd Qu.: 7.000     3rd Qu.: 3.000          3rd Qu.: 7.000
 Max.   :18.000     Max.   :15.000          Max.   :17.000

In [ ]:
skim(attrition)

── Data Summary ────────────────────────
                           Values
Name                       attrition
Number of rows             1470
Number of columns          35
_______________________
Column type frequency:
  character                9
  numeric                  26
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable  n_missing complete_rate min max empty n_unique whitespace
1 Attrition              0             1   2   3     0        2          0
2 BusinessTravel         0             1  10  17     0        3          0
3 Department             0             1   5  22     0        3          0
4 EducationField         0             1   5  16     0        6          0
5 Gender                 0             1   4   6     0        2          0
6 JobRole                0             1   7  25     0        9          0
7 MaritalStatus          0             1   6   8     0        3          0
8 Over18                 0             1   1   1     0        1          0
9 OverTime               0             1   2   3     0        2          0

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable            n_missing complete_rate      mean       sd   p0
 1 Age                              0             1    36.9      9.14    18
 2 DailyRate                        0             1   802.     404.     102
 3 DistanceFromHome                 0             1     9.19     8.11     1
 4 Education                        0             1     2.91     1.02     1
 5 EmployeeCount                    0             1     1        0        1
 6 EmployeeNumber                   0             1  1025.     602.       1
 7 EnvironmentSatisfaction          0             1     2.72     1.09     1
 8 HourlyRate                       0             1    65.9     20.3     30
 9 JobInvolvement                   0             1     2.73     0.712    1
10 JobLevel                         0             1     2.06     1.11     1
11 JobSatisfaction                  0             1     2.73     1.10     1
12 MonthlyIncome                    0             1  6503.    4708.    1009
13 MonthlyRate                      0             1 14313.    7118.    2094
14 NumCompaniesWorked               0             1     2.69     2.50     0
15 PercentSalaryHike                0             1    15.2      3.66    11
16 PerformanceRating                0             1     3.15     0.361    3
17 RelationshipSatisfaction         0             1     2.71     1.08     1
18 StandardHours                    0             1    80        0       80
19 StockOptionLevel                 0             1     0.794    0.852    0
20 TotalWorkingYears                0             1    11.3      7.78     0
21 TrainingTimesLastYear            0             1     2.80     1.29     0
22 WorkLifeBalance                  0             1     2.76     0.706    1
23 YearsAtCompany                   0             1     7.01     6.13     0
24 YearsInCurrentRole               0             1     4.23     3.62     0
25 YearsSinceLastPromotion          0             1     2.19     3.22     0
26 YearsWithCurrManager             0             1     4.12     3.57     0
     p25    p50     p75  p100 hist
 1   30     36     43      60 ▂▇▇▃▂
 2  465    802   1157    1499 ▇▇▇▇▇
 3    2      7     14      29 ▇▅▂▂▂
 4    2      3      4       5 ▂▃▇▆▁
 5    1      1      1       1 ▁▁▇▁▁
 6  491.  1020.  1556.   2068 ▇▇▇▇▇
 7    2      3      4       4 ▅▅▁▇▇
 8   48     66     83.8   100 ▇▇▇▇▇
 9    2      3      3       4 ▁▃▁▇▁
10    1      2      3       5 ▇▇▃▂▁
11    2      3      4       4 ▅▅▁▇▇
12 2911   4919   8379   19999 ▇▅▂▁▂
13 8047  14236. 20462.  26999 ▇▇▇▇▇
14    1      2      4       9 ▇▃▂▂▁
15   12     14     18      25 ▇▅▃▂▁
16    3      3      3       4 ▇▁▁▁▂
17    2      3      4       4 ▅▅▁▇▇
18   80     80     80      80 ▁▁▇▁▁
19    0      1      1       3 ▇▇▁▂▁
20    6     10     15      40 ▇▇▂▁▁
21    2      3      3       6 ▂▇▇▂▃
22    2      3      3       4 ▁▃▁▇▂
23    3      5      9      40 ▇▂▁▁▁
24    2      3      7      18 ▇▃▂▁▁
25    0      1      3      15 ▇▁▁▁▁
26    2      3      7      17 ▇▂▅▁▁

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 17' in coercion to 'logical(1)'

**Check Missing Values & Duplicates**

In [ ]:
# Missing values count
colSums(is.na(attrition))

# Visualize missing data
plot_missing(attrition)

# Check for duplicate rows
sum(duplicated(attrition))

**Encode Categorical Variables**

In [ ]:
# Convert categorical variables to factors
attrition <- attrition %>%
  mutate(
    Attrition = as.factor(Attrition),
    BusinessTravel = as.factor(BusinessTravel),
    Department = as.factor(Department),
    EducationField = as.factor(EducationField),
    Gender = as.factor(Gender),
    JobRole = as.factor(JobRole),
    MaritalStatus = as.factor(MaritalStatus),
    OverTime = as.factor(OverTime),
    Over18 = as.factor(Over18)
  )

In [ ]:
str(attrition)

'data.frame':	1470 obs. of  35 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : Factor w/ 2 levels "No","Yes": 2 1 2 1 1 1 1 1 1 1 ...
 $ BusinessTravel          : Factor w/ 3 levels "Non-Travel","Travel_Frequently",..: 3 2 3 2 3 2 3 3 2 3 ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ Department              : Factor w/ 3 levels "Human Resources",..: 3 2 2 2 2 2 2 2 2 2 ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EducationField          : Factor w/ 6 levels "Human Resources",..: 2 2 5 2 4 2 4 2 2 4 ...
 $ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : int  2 3 4 4 1 4 3 4 4 3 ...
 $ Gender                  : Factor w/ 2 levels "Female","Male": 1 2 2 1 2 2 1 2 2 2 ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : int  3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : int  2 2 1 1 1 1 1 1 3 2 ...
 $ JobRole                 : Factor w/ 9 levels "Healthcare Representative",..: 8 7 3 7 3 3 3 3 5 1 ...
 $ JobSatisfaction         : int  4 2 3 3 2 4 1 3 3 3 ...
 $ MaritalStatus           : Factor w/ 3 levels "Divorced","Married",..: 3 2 3 2 2 3 2 1 3 2 ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ Over18                  : Factor w/ 1 level "Y": 1 1 1 1 1 1 1 1 1 1 ...
 $ OverTime                : Factor w/ 2 levels "No","Yes": 2 1 2 2 1 1 2 1 1 1 ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: int  1 4 2 3 4 3 1 2 2 2 ...
 $ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
 $ StockOptionLevel        : int  0 1 0 0 1 0 3 1 0 2 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : int  1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...

**Summary Statistics Grouped by Attrition**

In [ ]:
# Numeric summaries
attrition %>%
  group_by(Attrition) %>%
  summarise(across(where(is.numeric), list(mean = mean, median = median), .names = "{.col}_{.fn}"))

**Attrition Distribution**

In [ ]:
# Bar chart of Attrition
ggplot(attrition, aes(x = Attrition, fill = Attrition)) +
  geom_bar() +
  theme_minimal() +
  labs(title = "Attrition Distribution", y = "Count")

**Correlation Analysis (Numerical)**

In [ ]:
# Select numeric columns
numeric_vars <- attrition %>% select(where(is.numeric))

# Correlation matrix
cor_matrix <- cor(numeric_vars)

# Visualize correlation
corrplot(cor_matrix, method = "color", type = "upper", tl.cex = 0.8)

**Univariate & Bivariate Analysis**

In [ ]:
# Age Distribution
ggplot(attrition, aes(x = Age)) +
  geom_histogram(fill = "steelblue", bins = 30) +
  theme_minimal() +
  labs(title = "Distribution of Age")

In [ ]:
# Monthly Income by Attrition
ggplot(attrition, aes(x = Attrition, y = MonthlyIncome, fill = Attrition)) +
  geom_boxplot() +
  theme_minimal() +
  labs(title = "Monthly Income by Attrition")

In [ ]:
# Attrition by Job Role
ggplot(attrition, aes(x = JobRole, fill = Attrition)) +
  geom_bar(position = "fill") +
  coord_flip() +
  theme_minimal() +
  labs(title = "Attrition Rate by Job Role", y = "Proportion")

In [ ]:
# OverTime vs Attrition
ggplot(attrition, aes(x = OverTime, fill = Attrition)) +
  geom_bar(position = "fill") +
  theme_minimal() +
  labs(title = "Attrition Rate by Overtime", y = "Proportion")

In [ ]:
ggplot(attrition, aes(x = Gender, fill = Attrition)) +
  geom_bar(position = "fill") +
  theme_minimal() +
  labs(title = "Attrition Rate by Gender", y = "Proportion")

In [ ]:
ggplot(attrition, aes(x = MaritalStatus, fill = Attrition)) +
  geom_bar(position = "fill") +
  theme_minimal() +
  labs(title = "Attrition Rate by Marital Status", y = "Proportion")

In [ ]:
ggplot(attrition, aes(x = Attrition, y = Age, fill = Attrition)) +
  geom_boxplot() +
  theme_minimal() +
  labs(title = "Age Distribution by Attrition")

In [ ]:
ggplot(attrition, aes(x = YearsAtCompany, fill = Attrition)) +
  geom_histogram(position = "identity", alpha = 0.6, bins = 20) +
  theme_minimal() +
  labs(title = "Years at Company by Attrition")

In [ ]:
ggplot(attrition, aes(x = factor(JobSatisfaction), fill = Attrition)) +
  geom_bar(position = "fill") +
  theme_minimal() +
  labs(title = "Attrition by Job Satisfaction", x = "Job Satisfaction (1â€“4)", y = "Proportion")

In [ ]:
ggplot(attrition, aes(x = BusinessTravel, fill = Attrition)) +
  geom_bar(position = "fill") +
  theme_minimal() +
  labs(title = "Attrition Rate by Business Travel", y = "Proportion")

In [ ]:
ggplot(attrition, aes(x = TotalWorkingYears, y = MonthlyIncome, color = Attrition)) +
  geom_point(alpha = 0.6) +
  theme_minimal() +
  labs(title = "Total Working Years vs. Monthly Income by Attrition")

# Regression Data Analysis

In [ ]:
set.seed(123)

attrition <- subset(attrition, select = -c(EmployeeCount, EmployeeNumber, Over18, StandardHours))

split <- createDataPartition(attrition$MonthlyIncome, p = 0.8, list = FALSE)
train <- attrition[split, ]
test <- attrition[-split, ]

print(head(train))
print(head(test))

In [ ]:
model_lm <- train(MonthlyIncome ~ ., data = train, method = "lm")

In [ ]:
model_rf <- train(MonthlyIncome ~ ., data = train, method = "rf", trControl = trainControl(method = "cv", number = 5))

In [ ]:
model_gbm <- train(MonthlyIncome ~ ., data = train, method = "gbm", verbose = FALSE, trControl = trainControl(method = "cv", number = 5))

In [ ]:
pred_lm <- predict(model_lm, newdata = test)
pred_rf <- predict(model_rf, newdata = test)
pred_gbm <- predict(model_gbm, newdata = test)

postResample(pred_lm, obs = test$MonthlyIncome)
postResample(pred_rf, obs = test$MonthlyIncome)
postResample(pred_gbm, obs = test$MonthlyIncome)

In [ ]:
ggplot(data.frame(Actual = test$MonthlyIncome, Predicted = pred_rf), aes(x = Actual, y = Predicted)) +
  geom_point(alpha = 0.6, color = "steelblue") +
  geom_abline(color = "red", linetype = "dashed") +
  theme_minimal() +
  labs(title = "Predicted vs Actual Monthly Income", x = "Actual", y = "Predicted")

In [ ]:
plot(test$MonthlyIncome, pred_rf, col = "blue", main = "Predicted vs Actual (Random Forest)", xlab = "Actual Monthly Income", ylab = "Predicted Monthly Income")
abline(0, 1, col = "red")

In [ ]:
varImp(model_rf)

In [ ]:
test_results <- data.frame(Actual = test$MonthlyIncome, Predicted = pred_rf)
test_results$Difference <- test_results$Predicted - test_results$Actual

# Show top 10 underpaid employees
head(arrange(test_results, Difference), 10)

# Clustering

In [ ]:
# Determine optimal number of clusters (Elbow Method)

set.seed(123)

fviz_nbclust(df_scaled, kmeans, method = "wss") +
  geom_vline(xintercept = 3, linetype = 2) +
  labs(subtitle = "Elbow method")

In [ ]:
# Run k-means clustering
# assume we got 3 from elbow method

set.seed(123)

km_res <- kmeans(df_scaled, centers = 3, nstart = 25)

# Add cluster assignment to original data
df_clustered <- df %>%
  mutate(Cluster = as.factor(km_res$cluster))

In [ ]:
# Visualize Clusters (PCA for Dimensionality Reduction)

fviz_cluster(km_res, data = df_scaled,
             ellipse.type = "euclid",
             palette = "jco",
             ggtheme = theme_minimal())

In [ ]:
# Profile Clusters
# see what each clusters look like in terms of average values

df_clustered %>%
  group_by(Cluster) %>%
  summarise(across(where(is.numeric), mean, na.rm = TRUE))